# Backend
DEBUG=true
DATABASE_URL=postgresql+asyncpg://postgres:password@db:5432/auth
SECRET_KEY=token
ALGORITHM=HS256
ASSESS_TOKEN_TIME=15
REFRESH_TOKEN_TIME=30

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=auth
